/* All */
* {
    box-sizing: border-box;        
  }

body {
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    color: #333333;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    line-height: 1.5;
}
p {
    font-weight: 300;
    color: #444;
}
h3 {
    font-size: 24px;
    color: #016fff;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    color: lightgrey;
    font-weight: bold;
}
a:hover {
    color: #016fff;
}
a:active {
    color: darkblue;
}

/* header */
header {
    position: relative;
    top: 0;
    height: 400px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 1024px;
    margin: auto;
    }

#face {
    width: auto;
    height: 100%;
    position: absolute;
    right: 0px;
}

header h1 {
    display: inline-block;
    font-family: 'Georgia', serif;
    font-size: 90px;
    font-weight: bold;
    color: lightgrey;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 0.75;
}

header span {
    display: block;
    position: relative;
    padding-top: 40px;
    color: #016fff;
}

/* Navigation Tab */
#nav {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 40px;
    clear: both;
    margin-bottom: 20px;
    margin-top: 5px;
}
.nav-bar {
    width: 133px;
    border-radius: 5px;
    color: white;
    background-color: #016fff;
    padding-top: 5px;
    display: none;
}
#nav th { 
    border-color: white;
    text-align: center;
    border: 1px solid white;
}
#nav-space {
    width: auto;
    background-color: white;
}
#contact {
    position: absolute;
    bottom: -10px;
    left: -5px;
    background-color: white;
}
#linkedin {
    width: 51px;
    height: 50.5px;
    margin-bottom: -1px;
    padding: 0px;
}
#github {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 0px;
    border: 1px solid white;
}
a {
    color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
}

/* Main Content */
/* A bit about me */
.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    height: 500px;
    clear: both;
}
#intro {
    position: absolute;
    width: 100%;
    height: auto;
}

/* Projects */
#projects {
    position: absolute;
    bottom: 40px;
    height: auto;
    width: 100%;
}
#monash {
    width: 100%;
}
th {
    background-color: #016fff;
    height: 50px;
    text-align: left;
    font-weight: bolder;
    color: white;
    padding-left: 5px;
    padding-top: 12px;
    border: 1px solid white;
    border-radius: 5px;
}
td {
    background-color: #f8fafc;
    height: 30px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

td a {
    font-family: Georgia, "Times New Roman" ,Times,serif;
    font-weight: lighter;
    font-size: 16px;
    text-align: left;
    color: grey;
}
    