* {
    box-sizing: border-box;
}

#fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 200px;
    width: 300px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;
}
.grand-parent {
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    color: grey;
    font-size: 28px;
}

.relative {
    position: relative;
    height: 400px;
    background-color: lightgrey;
}
.absolute {
    position: absolute;
    right: -40px;
    bottom: 0px;
    height: 50%;
    width: 40%;
    background-color: grey;
}