/* The 3D carousal code was sourced from https://3dtransforms.desandro.com/carousel */
* { box-sizing: border-box; }

html {
  background-color: rgb(26, 26, 26);
  width: 100%;
}

body { 
  font-family: sans-serif; 
  background-color: rgb(52, 52, 52, 0);
  font-family: 'Open Sans', sans-serif;
}


.scene {
  margin: 40px 0;
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 40px auto;
  perspective: 500px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 1000px;
  height: 800px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.carousel__cell:nth-child(9n+1) { background: rgb(52, 52, 52, 0); }
.carousel__cell:nth-child(9n+2) { background: rgb(52, 52, 52, 0); }
.carousel__cell:nth-child(9n+3) { background: rgb(52, 52, 52, 0); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 120deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 240deg) translateZ(288px); }

.prevNext {
  width: 210px;
  margin: 0 auto;
}

.mobile-portfolio {
  display: none;
}

/* All */
.about-text,
.contact-form,
.portfolio-cards {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 800px;
  height: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255);
  padding: 32px;
  border-radius: 4px;
  font-size: 16px;
  color: rgb(52, 52, 52);
  line-height: 24px;
  text-align: left;
}

.btn {
  width: 100px;
}

/* About */
.about-image {
  float: right;
  width: 250px;
  height: 250px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.about-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: lightgrey;
}
.about-text h1 span {
  color: #007BFF;
}

.read-more {
  position: absolute;
  bottom: 32px;
  width: auto;
  clear: both;
}

/* About Modal */
.modal-content {
  color: rgb(65, 65, 65);
}
.modal-dialog {
  max-width: 70%;
}

.modal-header {
  font-family: 'Montserrat', sans-serif;
}

.modal-body {
  padding: 0;
}
.modal-body p {
  margin-left: 16px;
}

.about-imageTwo {
  width: auto;
  height: 20rem;
  float: right;
  border-radius: 2px;
  margin: 8px 16px 16px 8px;
}

table {
  width: 100%;
  margin: 0 16px 16px 16px;
  color: rgb(52, 52, 52);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(52, 52, 52);
  background-color: #e9e6e6;
  padding: 8px 0 8px 16px;
  border-radius: 2px;
  clear: both;
}

.cvBtn {
  width: auto;
}

/* Contact */
#github,
#linkedin {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

#github {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

#linkedin {
  position: absolute;
  right: 72px;
  bottom: 32px;
}

.form-control {
  width: 736px;
}

.alternateContact {
  width: 100%;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 8px;
  color: rgb(65, 65, 65);
}
.alternateContact p {
  margin-bottom: 0;
}
.alternateContact h5 {
  margin-bottom: 8px;
}

.submit-form {
  position: absolute;
  bottom: 24px;
  width: auto;
}

/* Portfolio column */
.portfolio-cards {
  padding: 0;
  background-color: rgb(52, 52, 52, 0);
}

.row-one,
.row-two,
.row-three {
  height: 600px;
  border-radius: 4px;
  background-color: white;
  padding: 0;
}

.row-two {
  margin: 0 8px 0 8px;
}

.card {
  height: 600px;
}

.card h5 {
  text-decoration: underline;
}

.view-one,
.view-two,
.view-three {
  position: absolute;
  bottom: 32px;
  left: 16px;
}

.repo-link {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

/* Tablet Responsiveness */
@media screen and (max-width: 768px) {
  .scene {
    position: relative;
    width: 600px;
    height: 450px;
    margin: 40px auto;
    perspective: 300px;
  }
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .carousel__cell {
    position: absolute;
    width: 600px;
    height: 450px;
    left: 10px;
    top: 10px;
    margin: 0 auto;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: white;
    text-align: center;
  }

  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 120deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 240deg) translateZ(288px); }

  .about-text,
  .contact-form,
  .portfolio-cards {
    width: 600px;
    height: 450px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
  }
  
  .btn {
    width: 100px;
  }
  
  /* About */
  .about-image {
    float: right;
    width: 200px;
    height: 200px;
  }

  .about-text h1 {
    font-size: 48px;
  }
  .prevNext {
    margin-top: 200px;
  }

  /* Portfolio */
  .row-one,
  .row-two,
  .row-three {
    height: 200px;
  }
  .card {
    height: 450px;
  }

  .view-one,
  .view-two,
  .view-three {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 0 2px 0 2px !important;
    width: 80px;
  }

  .repo-link {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 0 2px 0 2px !important;
    width: 80px;
  }

  /* Contact */
  .form-control {
    width: 568px;
  }
  .submit-form {
    position: absolute;
    right: 120px;
    bottom: 32px;
    padding: 2.6px !important;
  }
}

/* Mobile Responsiveness */
@media screen and (max-width: 415px) {
  .scene {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 40px auto;
    perspective: 50px;
  }
  .carousel__cell {
    position: absolute;
    width: 288px;
    height: 470px;
    left: 10px;
    top: 10px;
    margin: 0 auto;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: white;
    text-align: center;
  }

  .contact {
    font-size: 40px;
    margin-top: 20px;
  }

  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 120deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 240deg) translateZ(288px); }

  .portfolio-cards {
    display: none;
  }

  .about-text,
  .contact-form,
  .mobile-portfolio {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    padding: 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
  }
  .contact-form {
    width: 260px;
    height: 390px;
  }
  .mobile-portfolio {
    display: block;
    background-color: white;
    width: 280px;
    height: 500px;
  }
  .btn {
    width: 100px;
  }
  
  /* About */
  .about-image {
    float: right;
    width: 100px;
    height: 100px;
  }

  .about-text h1 {
    font-size: 24px;
  }
  .about-text p {
    font-size: 12px;
    line-height: 14px;
  }
  .read-more {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 150px;
  }
  .prevNext {
    margin-top: 150px;
  }
  .modal-dialog {
    max-width: 98%;
  }

  /* Portfolio */
  .folio-image {
    float: right;
    width: 80px;
    height: 80px;
  }

  .mob-planner,
  .mob-time,
  .mob-weather {
    height: 156px;
    width: 100%;
  }
  .port-btn {
    margin-bottom: 16px;
  }
  .mobile-portfolio h5 {
    color: rgb(52, 52, 52);
    text-align: left;
  }
  .mobile-portfolio p {
    color: rgb(52, 52, 52);
    text-align: left;
  }

  /* Contact */
  .form-control {
    width: 228px;
  }
  .alternateContact {
    padding-top: 0;
  }
  .alternateContact h6 {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .submit-form {
    position: absolute;
    right: 96px;
    bottom: 16px;
    padding: 2.6px !important;
  }
  #github,
  #linkedin {
    bottom: 16px;
  }
  #github {
    position: absolute;
    right: 16px;
  }
  
  #linkedin {
    position: absolute;
    right: 56px;
  }
}