@media screen and (max-width: 500px) {

    /* navbar */
    .mobileNavbar {
        display: block;
        position: sticky;
        z-index: 999;
        background-color: rgb(31, 30, 30) !important;
        width: 100vw;
    }
    
      #logo {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 16px;
        left: 16px;
      }

      .contact-me {
        margin-right: 36px;
        margin-top: -22px;
      }

      /* about */
      #re-face {
        max-width: 250px;
        max-height: 250px;
        position: absolute;
        top: 60px;
        right: 16px;
      }
      #about {
        padding: 16px;
      }

      #about h1 {
        font-size: 32px;
        margin: 350px 0 0 16px;
      }

      #about p {
        margin: 0 0 0 16px;
      }
      #design,
      #line {
        margin-left: 0px;
        font-size: 16px !important;
      }

      #code-image {
        height: auto;
        width: 300px;
        margin: 0 0 0 16px;
      }

      #scroll {
        display: inline;
      }
      #scroll p {
        font-size: 16px !important;
        margin: 140px 0 0 0;
        text-align: center;
      }

      /* for UX and Coding work examples */

      #containerOne,
      #containerTwo,
      #containerThree,
      #containerFour,
      #containerFive,
      #containerSix,
      #containerSeven,
      #innerOne,
      #innerTwo,
      #innerThree,
      #innerFour,
      #innerFive,
      #innerSix,
      #innerSeven {
        width: 300px;
        height: 300px;
        margin: 24px 0 0 0;
      }

      #work h1,
      #resume h1,
      #skills h1 {
        font-size: 50px;
      }
      #work {
        height: auto;
      }
      .modal {
        margin-top: 120px;
        width: 100vw;
      }
      #skills h1 {
        top: 100px;
      }

      #image-overlay {
        font-size: 16px;
        padding-top: 32px;
      }

      /* skills */
      #skills-images {
        margin: 40px 0 0 0px;
      }
    
      #skill-one {
        height: auto;
        width: 100%;
        margin-top: 80px;
      }
      #skill-two {
        height: auto;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        z-index: 2;
      }

      #ux-title-mobile,
      #code-title-mobile,
      #resume-title-mobile {
        display: none;
      }
      
}