/* The 3D carousal code was sourced from https://3dtransforms.desandro.com/carousel */
* { box-sizing: border-box; }

html {
  background-color: rgb(26, 26, 26);
}

body { 
  font-family: sans-serif; 
  background-color: rgb(52, 52, 52, 0);
  font-family: 'Open Sans', sans-serif;
}


.scene {
  margin: 40px 0;
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 40px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 1000px;
  height: 800px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.carousel__cell:nth-child(9n+1) { background: rgb(52, 52, 52, 0); }
.carousel__cell:nth-child(9n+2) { background: rgb(52, 52, 52, 0); }
.carousel__cell:nth-child(9n+3) { background: rgb(52, 52, 52, 0); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 120deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 240deg) translateZ(288px); }

/* All */
.about-text,
.contact-form,
.portfolio-cards {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 800px;
  height: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255);
  padding: 32px;
  border-radius: 4px;
  font-size: 16px;
  color: rgb(52, 52, 52);
  line-height: 24px;
  text-align: left;
}

.btn {
  width: 100px;
}

/* About */
.about-image {
  float: right;
  width: 300px;
  height: 300px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.about-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: lightgrey;
}
.about-text h1 span {
  color: #007BFF;
}

.read-more {
  position: absolute;
  bottom: 32px;
  width: auto;
  clear: both;
}

/* About Modal */
.modal-content {
  color: rgb(65, 65, 65);
}
.modal-dialog {
  max-width: 70%;
}

.modal-header {
  font-family: 'Montserrat', sans-serif;
}

.modal-body {
  padding: 0;
}
.modal-body p {
  margin-left: 16px;
}

.about-imageTwo {
  width: auto;
  height: 20rem;
  float: right;
  border-radius: 2px;
  margin: 8px 16px 16px 8px;
}

table {
  width: 100%;
  margin: 0 16px 16px 16px;
  color: rgb(52, 52, 52);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(52, 52, 52);
  background-color: #e9e6e6;
  padding: 8px 0 8px 16px;
  border-radius: 2px;
  clear: both;
}

.cvBtn {
  width: auto;
}

/* Contact */
#github,
#linkedin {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

#github {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

#linkedin {
  position: absolute;
  right: 72px;
  bottom: 32px;
}

.form-control {
  width: 736px;
}

.alternateContact {
  width: 100%;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 8px;
  color: rgb(65, 65, 65);
}
.alternateContact p {
  margin-bottom: 0;
}
.alternateContact h5 {
  margin-bottom: 8px;
}

.submit-form {
  position: absolute;
  bottom: 24px;
  width: auto;
}

/* Portfolio column */
.portfolio-cards {
  padding: 0;
  background-color: rgb(52, 52, 52, 0);
}

.row-one,
.row-two,
.row-three {
  height: 600px;
  border-radius: 4px;
  background-color: white;
  padding: 0;
}

.row-two {
  margin: 0 8px 0 8px;
}

.card {
  height: 600px;
}

.card h5 {
  text-decoration: underline;
}

.view-one,
.view-two,
.view-three {
  position: absolute;
  bottom: 32px;
  left: 16px;
}

.repo-link {
  position: absolute;
  bottom: 32px;
  right: 16px;
}