* { box-sizing: border-box; }

html {
  background-color: rgb(26, 25, 25);
}

#logo {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 40px;
  left: 100px;
}

#about,
#work,
#resume,
#contact,
#skills {
  width: 100vw;
  height: 100vh;
  padding: 48px;
  background-color: rgb(31, 30, 30);
}

#about {
  padding: 96px;
}

#about h1 {
  color: rgb(128, 127, 127);
  font-size: 60px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin-left: 32px;
  z-index: 999;
}
#about p {
  margin-left: 32px;
  font-size: 50px;
}
#re-face {
  position: absolute;
  top: 128px;
  right: 128px;
  height: 500px;
  width: 500px;
}

#work {
  display: flex;
  justify-content: center;
  align-items: center;   
  margin: 0;
}

#link-group {
  position: fixed;
  right: 24px;
  top: 0;
  bottom: 0;
  z-index: 999;
}

#list {
  list-style-type: none;
}

.list-item {
  position: absolute;
  right: 60px;
  top: 20px;
  padding: 10px 100px;
}

.nav-item {
  color: rgb(128, 127, 127) !important;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-right: 32px;
}

.nav-item:hover {
  color: rgb(216, 216, 216) !important;
}
.navbar {
  background-color: rgb(31, 30, 30);
}

.dropdown-menu {
  background-color: rgb(31, 30, 30);
  color: #EDEDED;
  border: none;
}
.dropdown-item {
  background-color: rgb(31, 30, 30);
  color: rgb(128, 127, 127);
}
.dropdown-item img {
  position: relative;
  ;
}

.dropdown-item:hover {
  background-color: rgb(31, 30, 30);
  color: #ededed;
}
.dropdown-item:hover .contact-links {
  opacity: 1;
}

.contact-me {
  position: absolute;
  right: 0px;
  top: 24px;
}
.contact-links {
  opacity: 0.6;
}

.contact-btn {
  background-color: rgb(31, 30, 30);
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: rgb(128, 127, 127);
}
.contact-btn:hover {
  background-color: rgb(31, 30, 30);
}
.contact-btn:active {
  background-color: rgb(31, 30, 30) !important;
}
.contact-btn:focus {
  background-color: rgb(31, 30, 30) !important;
}

#quote-box {
  position: absolute;
  bottom: 200px;
  left: 96px;
  width: 50vw;
}

#quote {
  text-align: left;
  color: rgb(128, 127, 127);
  /* font-style: italic; */
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 2rem !important;
  /* font-weight: 300; */
}

#design,
#line {
  /* font-style: italic; */
  font-family: 'Nunito', sans-serif;
  font-size: 2rem !important;
  color: rgb(212, 212, 212);
}
#code {
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem !important;
  color: rgb(128, 127, 127);
}
#code-image {
  visibility: hidden;
  height: 40px;
  margin-left: 32px;
  border-radius: 2px;
  z-index: 0;
}
#down-arrowOne,
#down-arrowTwo,
#down-arrowThree {
  width: 43px;
  height: 52px;
  opacity: 0.1;
}
#down-arrowOne:hover {
  opacity: 1;
}

#down-arrowOne img {
  position: absolute;
  left: 50%;
  bottom: 96px;
}

#down-arrowTwo:hover {
  opacity: 1;
}

#down-arrowTwo img {
  position: absolute;
  left: 50%;
  bottom: 112px;
}

.contact-links {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 10px 24px 10px 0px;
}


/* ---------------------------------------------------------------------- */

#containerOne,
#containerTwo,
#containerThree,
#containerFour {
    perspective: 40px;
}

#innerOne,
#innerTwo,
#innerThree,
#innerFour {
    width: 30em;
    height: 30em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    transition: transform 0.3s;
    margin: 15px;
    box-shadow:2px 2px 2px rgb(197, 197, 197);
    position: relative;
}

#rsl-image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
#image-overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 24px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  color: rgb(73, 73, 73);
  font-size: 32px;
  text-align: center;
  padding-top: 15px;
}
#innerOne:hover #image-overlay {
  box-shadow:2px 2px 2px rgb(197, 197, 197);
  background-color: rgba(255, 255, 255, 1);
}

.size {
    width: 70vw;
    height: 30vh;
    margin-top: 20px;
}

#work {
  position: relative;
}
#work h1 {
  position: absolute;
  top: 16px;
  right: 128px;
  font-size: 300px;
  color: rgb(128, 127, 127);
}

#containerOne:hover {
  cursor: pointer;
}
/* Dev work -------------------------------------------------- */

#resume {
  position: relative;
}
#code-title {
  position: absolute;
  top: 16px;
  left: 128px;
  font-size: 300px;
  color: rgb(128, 127, 127);
}
#containerTwo,
#containerThree,
#containerFour {
  margin-top: 200px;
}
#innerTwo:hover #image-overlay {
  box-shadow:2px 2px 2px rgb(197, 197, 197);
}
#innerThree:hover #image-overlay {
  box-shadow:2px 2px 2px rgb(197, 197, 197);
}
#innerFour:hover #image-overlay {
  box-shadow:2px 2px 2px rgb(197, 197, 197);
}

#containerTwo:hover,
#containerThree:hover,
#containerFour:hover {
  cursor: pointer;
}

#better-image,
#weather-image,
#workday-image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

/* #down-arrowThree:hover {
  opacity: 1;
}

#down-arrowThree img {
  position: relative;
  left: 50%;
  bottom: 164px;
} */

/* Skills --------------------------------------------- */

#skills {
  position: relative;
}

#skills-images {
  position: relative;
  margin: 160px 0 0 128px;
  z-index: 2;
  opacity: 0.97;
}

#skill-one {
  height: 35vw;
  z-index: 2;
}
#skill-two {
  height: 30vw;
  margin-left: 60px;
  z-index: 2;
}

#skills h1 {
  position: absolute;
  top: 16px;
  right: 128px;
  font-size: 300px;
  color: rgb(128, 127, 127);
  z-index: 0;
}